.portfolio__navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.portfolio__navbar-links p,
.portfolio__navbar-menu p {
  color: var(--color-golden);
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  white-space: nowrap;

  transition: 0.2s ease;
}

.portfolio__navbar-menu {
  display: none;
  position: relative;
}

.portfolio__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: black;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.portfolio__navbar-links p:hover,
.portfolio__navbar-menu p:hover {
  color: var(--color-gray);
}

@media screen and (max-width: 750px) {
  .portfolio__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2rem 2rem;
  }
  .portfolio__navbar-links {
    display: none;
  }

  .portfolio__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 350px) {
  .portfolio__navbar-menu p {
    font-size: 14px;
  }
}
