.bg__black {
  background-color: black;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.app__bg {
  background: url("./assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 27% 36%,
    rgba(138, 127, 86, 1) 0%,
    rgba(83, 78, 83, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 27% 36%,
    rgba(138, 127, 86, 1) 0%,
    rgba(83, 78, 83, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 27% 36%,
    rgba(138, 127, 86, 1) 0%,
    rgba(83, 78, 83, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 27% 36%,
    rgba(138, 127, 86, 1) 0%,
    rgba(83, 78, 83, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 27% 36%,
    rgba(138, 127, 86, 1) 0%,
    rgba(83, 78, 83, 1) 100%
  );

  transition: 1s ease;
}

.gradient__bg:hover {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 27% 36%,
    rgba(220, 202, 135, 1) 0%,
    rgba(83, 78, 83, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 27% 36%,
    rgba(220, 202, 135, 1) 0%,
    rgba(83, 78, 83, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 27% 36%,
    rgba(220, 202, 135, 1) 0%,
    rgba(83, 78, 83, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 27% 36%,
    rgba(220, 202, 135, 1) 0%,
    rgba(83, 78, 83, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 27% 36%,
    rgba(220, 202, 135, 1) 0%,
    rgba(83, 78, 83, 1) 100%
  );
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.section__padding {
  padding: 4rem 6rem;
}

.info__wrapper {
  min-height: 100vh;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* @media screen and (min-width: 2000px) {
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }
} */

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}
