.bg__black {
  background-color: black;
}

.bg__green {
  background-color: green;
}

.bg__gray {
  background: var(--color-gray);
}

.bg__golden {
  background: var(--color-golden);
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.app__bg {
  background: url("./assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.section__padding {
  padding: 4rem 6rem;
}

.info__wrapper {
  min-height: 100vh;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.github-svg {
  margin-right: 8px;
  transition: 1s ease;
}

.github-svg .github-path {
  fill: var(--color-golden);
  transition: fill 0.3s;
}

.github-svg:hover .github-path {
  fill: black;
}

.github-svg:hover {
  background: var(--color-gray);
}

.linkedin-svg .linkedin-path-1 {
  fill: var(--color-golden);
  transition: fill 0.3s;
}

.linkedin-svg:hover .linkedin-path-1 {
  fill: #007bb5;
}

.linkedin-svg .linkedin-path-2 {
  fill: #0c192c;
}

.linkedin-svg:hover .linkedin-path-2 {
  fill: white;
}
@media screen and (min-width: 2000px) {
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}
