.portfolio__link-icons {
  margin-top: 0.5rem;
  font-size: 2rem;
}

.portfolio__link-icons_github,
.portfolio__link-icons_linkedin {
  color: var(--color-golden);
  background: transparent;

  cursor: pointer;
  transition: 0.5s ease;
}

.portfolio__link-icons_linkedin {
  border-radius: 6px;
}

.portfolio__link-icons_linkedin:hover {
  color: #007bb5;
  background: white;
}

.portfolio__link-icons_github {
  margin-right: 10px;
  border-radius: 6px;
}

.portfolio__link-icons_github:hover {
  color: var(--color-black);
  background-color: var(--color-gray);
}
