.portfolio__aboutme-content {
  padding: 6rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.portfolio__aboutme-content_image {
  min-width: 650px;
  height: 400px;
  margin-right: 2rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
  overflow: hidden;
}

.portfolio__aboutme-content_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio__skills-and-tools_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.portfolio__skills-and-tools_title p {
  margin-top: 1rem;
}

.portfolio__aboutme-content_text h1 {
  margin-bottom: 1rem;
}

.portfolio__skills-and-tools_title {
  flex: 0.4;
}

.portfolio__skills-and-tools_skills {
  flex: 1;
  min-width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .portfolio__aboutme-content_image {
    min-width: 530px;
  }

  .portfolio__skills-and-tools_content {
    flex-direction: column;
  }

  .portfolio__skills-and-tools_skills {
    justify-content: flex-start;
  }

  .portfolio__skills-and-tools_title {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .portfolio__aboutme-content {
    flex-direction: column;
  }
  .portfolio__aboutme-content_image {
    min-width: 100%;

    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 620px) {
  .portfolio__skills-and-tools_skills {
    flex-direction: column;
  }
}
